<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">      
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="index.css">
        <title>EfuaS.io</title>
    
    </head>

    <header>
        <nav class="navbar has-background-warning">
            <!--make fixed -->
            <div class="navbar-brand navbar-item"> 
                  <a href="#"> 
                      <img src="./images/efuaslogo.png" width="112" height="28">
                  </a>
            </div>

            <div class="navbar-item columns"> 

                     <!--navigation to section 1 on page-->
                <div class="column is-half is-offset-8"> <a href="#"> My Blog</a></div>
               
                    <!--navigation to section 2 on page-->

                <div class="column is-half is-offset-3"> <a href="#"> Contact Me </a></div>
                
                    <!--navigation to section 3 on page-->

                <div class="column is-half is-offset-3"> <a href="#"> My Projects</a></div>

            </div>
        </nav>
    </header>

    <body >
            

  
<!--Section 1 - Landing page -->
        <section class="section"> 

        <div class="columns is-flex-direction-row ">

            <div class="column content mt-6 pt-6" >
                <h1>Hello and Welcome </h1>
                <!--make responsive. type name itself.-->
                <h3>I am Lawrencia.</h3>
            <p>A Full Stack Engineer who loves to build things and
                 embraces challenge. In my spare time i like to reflect on my tech journey on my blog or paint.
                 I am also a cyber robotics tutor to 10 - 14 year old kids.
                </p>

                <p>
                Favorite Quote: If it doesn’t <b>challenge</b> you, it won’t <b>change</b> you.
                </p>

            <a href="#" ><button class="button is-danger ">Let's Connect</button></a>

                </div>
                        <!--image in section - girl with laptop in orange top-->

            <div class="column is-three-fifths px-0">
                    <figure class="image "> 
                        <img src="./images/girl with laptop.jpeg" alt="girl-with-laptop">
                    </figure>  
            </div>
              
            

        </div>

         </section>
<br>
<br>
<hr class="hr3">
<br>
<br>
<br>
<!--Section 2 - -->
        <div class=" content has-text-centered is-size-4">  
            <p>Languages</p>
        </div>


<!--define columns for logos-->
        <div class="columns has-text-centered">

<!--Display of programming languages with logos-->

             <!--Javascript logo-->
            <div class="column is-3  ">
                <figure class="image is-96x96 ml-6"> 
                     <img class="py-1 ml-6" src="./images/File_JavaScript-logo_png.png">
                </figure>  
                <br>   
                <p> JavaScript </p>
            </div>

            <!--React logo-->
            <div class="column is-3 ">
                <figure class="image is-96x96 ml-6"> 
                    <img class="py-1 ml-6" src="./images/React logo PNG.png">
                </figure>   
                <br>  
                <p> React </p>
            </div>

            <!--PHP logo-->
            <div class="column is-3  ">
                <figure class="image is-96x96 ml-6"> 
                    <img class="py-1 ml-6" src="./images/php.png">
                </figure> 
                <br>  
                <p> PHP </p>
            </div>

            <!--MySql logo-->
            <div class="column is-3 ">
                <figure class="image is-96x96 ml-6"> 
                    <img class="py-1 ml-6" src="./images/db1.png">
                </figure>  
                <br>   
                <p> MySql </p>
            </div>


        </div>

<!--Jumbotron on what inspires and motivates me short text aside money-->
        <!--Jumbotron is Bootstrap-->
        <div>

            <p>on how my thirst for growth allows me to seek challenges 
                [Sure, there's money. But what pushes you through each day, each task.
                 I believe in growth through challenges as a reward and motivation to go on. ]

                Got something exciting?
            </p>
            <button>Let's Talk</button>

        </div>


<!--Section 3 Featured topics from my blog-->

         <section>

            <h1>Topics from my Blog</h1>

            <div>
                <ul>
                    <li>Topic 1</li>
                    <li>Topic 2</li>
                    <li>Topic 3</li>    
    
                </ul>
            </div>


         </section>

<!--Section 4 - My Projects -->

         <section>

            <h1>My Personal Projects</h1>

<!-- clone table of projects from Madeyaa. Create space for each project idea but write coming soon-->
            <div>

            </div>
         </section>
    
<!-- Section 5 - Social / Contact Me-->

         <section>

            <div>
            
            <h2>Contact Me</h2>
            <p> You can send me a mail at <a>efuas33@gmail.com</a></p>
            <!-- make empty mail pop ready to send when my mail is clicked -->
            <!--Add social media icons connecting to each profile (linkedin, Blog)-->
            <!--create a frame where visitors can add thier contact to the document. So i can reach them myself.
            Use shopping list idea js-->
            <!-- Add chatbot to site. Has prewritten replies about specific areas of life. 
            get recriuter attention in a fun interactive way. Learn conversational design. 
            So instead of frame that will show past visitors, recuiters can enter their info through the chat and ill save it.
            connect to email such that i get email with each visitor interaction.-->
            
          
         </section>

    </body>
    <footer>
        <div>
            <h3>EfuaS.io</h3>
            <p>copyright 2021 efuas.io</p>
        </div>
    </footer>
</html>