<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">   
        <meta name="theme-color" content="#000000">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">   
        <link rel="stylesheet" href="./css/index.css">
        <link rel="shortcut icon" href="/favicon.ico">
        <title>EfuaS.io | Portfolio Website</title>
    
    </head>


    <body >
            
        <nav class="navbar">
            <div class="container">
                <div class="navbar-start">
                    <figure class="navbar-item">
                        <img src="../view/images/efuaslogo.png" alt="page logo" width="112" height="28">
                    </figure>
                </div>

                <div id="navMenu" class="navbar-menu">
                <div class="navbar-end is-size-5">
                  <div class="navbar-item">
                    <div class="buttons ">
                                         <!--navigation to projects section on page-->
                                         <a class="navbar-item" href="#Project#">Projects</a>
                                         <!--link to my blog-->
                    <a href="#" target="_blank" rel="noreferrer noopener" class="navbar-item">My Blog</a>
                                         <!--navigation to contact section on page-->
                    <a class="navbar-item" href="#ContactMe">Contact Me</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          
          <section class="section hero is-dark is-small">
            <div class="hero-body">
                <div class="columns" >
                    <div class="column is-offset-1">
                            <figure class="myface">
                                <img src="./images/me2.png" alt="mandeeya" class="rounded">
                            </figure>
                    </div>

                    <div class="column is-1"></div>

                    <div class="column is-6 content  pl-0 mr-6 pr-6 mt-6" >
                            <h1 class="title is-2">Welcome :) I am Lawrencia.</h1>
                        <!--make responsive. type name itself.-->
                            <p class="is-size-5">As a final year student, I aspire to be a <span class="is-underlined">Full Stack Developer</span>
                            . I like to share my developer experiences on my blog and spending my weekends as a cyber robotics tutor to kids.
                        </p>

                                <p class="is-size-5">
                                    Favorite Quote: If it doesn’t <b>challenge</b> you, it won’t <b>change</b> you.
                                </p>

                                <a href="#" ><button class="button is-medium">Let's Connect</button></a>

                    </div>
                </div>
            </div>
          </section>

<br>
<br>
<br>
<!--Section 2 - -->
        <div class=" content">  
            <p class="title has-text-centered">What I use</p>
        </div>
        <hr class="hr3">
        <br>

        <!--define columns for logos-->
        <div class="columns is-flex content">

<!--Display of programming languages with logos-->

             <!--Javascript logo-->
            <div class="columns">
                <div class="column is-offset-10"> 
                <div>  <figure class="image is-96x96 "> 
                     <img src="./images/File_JavaScript-logo_png.png">
                </figure>  
                </div>
                <br>
                    <div class="has-text-centered"><p class="subtitle"> JavaScript </p> </div> 
                </div>

            </div> 

            <div class="column is-1 " >  </div>

            <!--React logo-->
            <div class="columns ">
                <div class="column is-offset-12 "> 
                <div>  <figure class="image is-96x96 "> 
                     <img src="./images/React logo PNG.png">
                </figure>  
                </div>
                <br>
                    <div class="has-text-centered"><p class="subtitle"> React </p> </div> 
                </div>

            </div> 
            <div class="column is-1 " >  </div>
            <!--PHP logo-->
            <div class="columns">
                <div class="column is-offset-12 "> 
                <div>  <figure class="image is-96x96 "> 
                     <img src="./images/php.png">
                </figure>  
                </div>
                <br>
                    <div class="has-text-centered"><p class="subtitle"> PHP </p> </div> 
                </div>

            </div> 
            <div class="column is-1 " >  </div>

            <!--MySql logo-->
            <div class="columns">
                <div class="column is-offset-12"> 
                <div>  <figure class="image is-96x96 "> 
                     <img src="./images/db1.png">
                </figure>  
                </div>
                <br>
                    <div class="has-text-centered"><p class="subtitle"> SQL </p> </div> 
                </div>


            </div> 


        </div>

        <br>
<br>
<br>


<!--Jumbotron on what inspires and motivates me short text aside money-->
        <!--Jumbotron is Bootstrap-->
        <div class="hero is-info is-half-height">
            <div class="hero-body content has-text-centered" > 

            <p class="is-size-4 has-text-weight-semibold"> I jump at the chance to bring great ideas to life. This is my way to contribute to the world.
                <br>
                Got something exciting?
            </p>
            <a class="button is-medium is-danger is-light">Let's Talk</a>
            </div>  
        </div>


<!--Section 3 Featured topics from my blog-->



         <section class="section content ">
            <p class="title has-text-centered"> Discussion Series from my Blog</p>
            <hr class="hr3">
            <br>
            <!--define columns for logos-->
            <div class="columns is-flex content">
    <!--Display of programming languages with logos-->
                <div class="column" >  </div>
    <!--Javascript logo-->
                    <div class="column is-3 has-text-centered is-flex is-flex-direction-column is-align-items-center"> 
                            <figure class="image imageblog "> 
                                <img src="./images/girlattop.png ">
                            </figure>  
                        <br>
                        <a href="#">
                             <p class="subtitle is-size-4"> My Developer Journey Series </p>
                        </a> 
                        </div>
                <div class="column " >  </div>  
                <div class="column is-3 has-text-centered is-flex is-flex-direction-column is-align-items-center"> 
                    <figure class="image imageblog2 "> 
                        <img src="./images/looking.png">
                    </figure>  
                <br>
                <p class="subtitle is-size-4"> Weekly Tech Discoveries Series </p>
                </div>
                <div class="column"></div>

            </div>
         </section>
<hr>
<!--Section 4 - My Projects -->
        <section class="SectionComponent hero section is-block is-relative is-white is-medium">
            <div class="container">
                <header class="SectionHeader__header is-centered has-text-centered ">
                    <h1 class="title is-spaced is-3">Projects</h1>
                    <p class="subtitle">Click project title to visit project github repository</p>
                </header>
                <br>
                <div class="PortfolioSection__box box">
                    <div class="Portfolio columns is-multiline is-centered is-gapless">
                        <div class="Portfolio__column column is-half">
                            <div class="Portfolio__item has-text-centered">
                                <figure class="Portfolio__image imageStorefront">
                                    <img src="./images/storefront.png" alt="Storefront">
                                </figure>
                                <br>
                                <a href="#"> 
                                <h1 class="title is-4 is-spaced has-text-dark">Storefront</h1>
                                </a>
                                <code class="tag is-info"> Bootstrap 5 </code>
                                <code class="tag is-dark"> php </code>
                                <code class="tag is-warning"> javascript </code>
                                <code class="tag is-danger"> mysql </code>
                                <br>
                                <br>
                                <h2 class="subtitle is-6 has-text-dark">The very first website I ever built. A simple CRUD application to digitize record keeping for small scale businesses</h2>
                            </div>
                        </div>
                        <div class="Portfolio__column column is-half">
                            <div class="Portfolio__item has-text-centered">
                                <figure class="Portfolio__image images">
                                    <img src="/view/images/3.png" alt="GlowSpot">
                                </figure>
                                <br>
                                
                                <a href="#"> 
                                <h1 class="title is-4 is-spaced has-text-dark">GLowSpot E-commerce Platform</h1> </a>
                                <code class="tag is-dark"> php </code>
                                <code class="tag is-warning"> javascript </code>
                                <code class="tag is-info"> bootstrap 5 </code>
                                <code class="tag is-danger"> mysql </code>
                                <br>
                                <br>
                                <h2 class="subtitle is-6 has-text-dark">A team cosmetic e-commerce site as a school project.</h2>
                                </div>
                            </div>
                            <div class="Portfolio__column column is-half">
                                <div class="Portfolio__item has-text-centered">
                                    <figure class="Portfolio__image images">
                                        <img src="/view/images/3.png" alt="digitize my aunt's shop">
                                    </figure>
                                    <br>
                                    <a href="#"> 
                                    <h1 class="title is-4 is-spaced has-text-dark">Digitzing my Aunt's Shop</h1> </a>
                                    <code class="tag is-warning"> javascript </code>
                                    <code class="tag is-dark"> php </code>
                                    <code class="tag is-primary"> bulma </code>
                                    <code class="tag is-danger"> sql </code>
                                    <br>
                                    <br>    
                                    <h2 class="subtitle is-6 has-text-dark">An e-commerce paltform for my aunt's fabric shop to expand her market reach. </h2>
                                    </div>
                                </div>
                                <div class="Portfolio__column column is-half">
                                    <div class="Portfolio__item has-text-centered">
                                        <figure class="Portfolio__image images">
                                            <img src="/view/images/3.png" alt="Gifting Site">
                                        </figure>
                                        <br>
                                        <a href="#"> 
                                        <h1 class="title is-4 is-spaced has-text-dark">Gifting Site</h1></a>
                                        <code class="tag is-dark"> php </code>
                                        <code class="tag is-warning"> javascript </code>
                                        <code class="tag is-danger"> sql </code>
                                        <code class="tag is-info"> react </code>
                                        <br>
                                        <br>        
                                        <h2 class="subtitle is-6 has-text-dark">An automatic gifting site for those who always forget occasions. Design a package and have it delivered every year on that occasion.</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>    
<!-- Section 5 - Social / Contact Me-->

         <div class="hero is-primary">

            <div class="hero-body content has-text-centered">
            
            <h2 class="title">Contact Me</h2>
            <br>
            <p class="subtitle"> Send me a mail at <span class="is-underlined">efuas33@gmail.com</span> or :  <a href="https://www.linkedin.com/in/lawrencia-cobbina/"> <i class="fab fa-linkedin-in"></i></a></p>





            <!--Updates & Improvements-->

            <!-- make empty mail pop ready to send when my mail is clicked -->
            <!--Add social media icons connecting to each profile (linkedin, Blog)-->
            <!--create a frame where visitors can add thier contact to the document. So i can reach them myself.
            Use shopping list idea js-->
            <!-- Add chatbot to site. Has prewritten replies about specific areas of life. 
            get recriuter attention in a fun interactive way. Learn conversational design. 
            So instead of frame that will show past visitors, recuiters can enter their info through the chat and ill save it.
            connect to email such that i get email with each visitor interaction.-->
            
          
            </div>
            </div>
            

    <footer class="footer content columns">
        <div class="column">
            <h3>EfuaS.io</h3>
            <p>copyright 2021 efuas.<span style="color:rgb(137, 212, 24);"> io </span> </p>
        </div>
        <div class="column">
            <a class="is-pulled-right" href="https://bulma.io">
                <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
              </a>
        </div>
    </footer>
    
</body>

</html>